<h1>Naiki Football Shop</h1>

<h5>NPM: {{ npm }}</h5>

<h5>Name: {{ name }}</h5>

<h5>Class: {{ class }}</h5>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:add_product' %}"> <button>+ Add Product</button> </a>

<hr>
<a href="?filter=all">
    <button type="button">All Products</button>
</a>
<a href="?filter=popular">
    <button type="button">Most Popular</button>
</a> 
<a href="?filter=highest_price">
    <button type="button">Highest Price</button>
</a> 
<a href="?filter=lowest_price">
    <button type="button">Lower Price</button>
</a> 
<a href="?filter=my">
    <button type="button">My Products</button>
</a> 
<hr>

{% if not product_list %}
    <p>No product.</p>
{% else %}
    {% for product in product_list %}
    <div>
        <h2><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2> 
        <!-- price, category, is_featured, likes -->
        <p>
            <b><u>{{ product.get_category_display }}</u></b>
            {% if product.is_featured %} | 
                <b>Featured</b> |
            {% endif %}
            Price: ${{ product.price|floatformat:2 }} |
            Liked by: <i>{{ product.likes }}</i>
        </p>

        {% if product.thumbnail %}
        <img src="{{ product.thumbnail }}" alt="Product Catalogue" width="300">
        <br />
        <br />
        {% endif %}

        <p>{{ product.description|truncatewords:25 }}...</p>
        <p>
            <a href="{% url 'main:like_product' product.id %}"><button>♥</button></a>
            <a href="{% url 'main:show_product' product.id %}"><button>Product Details</button></a> 
        </p>
    </div>
<hr>

    {% endfor %}

{% endif %}

<br/>
<br/>
<a href="{% url 'main:logout_user' %}">
  <button>Logout</button>
</a>