{% load currency %}
<h1>Naiki Football Shop</h1>

<h5>NPM: {{ npm }}</h5>

<h5>Name: {{ name }}</h5>

<h5>Class: {{ class }}</h5>

<a href="{% url 'main:add_product' %}"> <button>+ Add Product</button> </a>

<hr>

{% if not product_list %}
    <p>Belum ada produk yang ditambahkan.</p>
{% else %}
    {% for product in product_list %}
    <div>
        <h2><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2> 
        <!-- price, category, is_featured, likes -->
        <p>
            <b><u>{{ product.get_category_display }}</u></b>
            {% if product.is_featured %} | 
                <b>Featured</b>
            {% endif %}
            Price: Rp {{ product.price|rupiah }} |
            Liked by: <i>{{ product.likes }}</i>
        </p>

        {% if product.thumbnail %}
        <img src="{{ product.thumbnail }}" alt="Product Catalogue" width="300">
        <br /><br />
        {% endif %}

        <p>{{ product.description|truncatewords:25 }}...</p>

        <p>
            <a href="{% url 'main:show_product' product.id %}"><button>Read More</button></a> 
            <a href="{% url 'main:like_product' product.id %}"><button>♥</button></a>
        </p>
    </div>
<hr>
    {% endfor %}

{% endif %}